body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0f0f0;
}

.toolbar {
  background-color: #f0f0f0;
  color: #000000;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.controls-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ToolbarGroup {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.controls-group h4 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  margin: 10px 0 0;
  text-align: center;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.controls button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  font-size: 24px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #e0e0e0;
}

.controls button i {
  pointer-events: none;
}

.controls button span {
  font-size: 14px;
  margin-top: 8px;
  pointer-events: none;
}

input[type="file"] {
  cursor: pointer;
}

canvas {
  border: none;
  display: block;
  margin: 40px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.canvas-container {
  background-color: #dddddd;
}

#arcInputs {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#arcInputs label {
  margin-right: 10px;
  font-size: 14px;
}

#arcInputs input {
  margin-right: 10px;
  width: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  margin-right: 1px;
  padding: 12px 20px;
  background-color: #007bff;
  color: #702020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.button-group {
  display: flex;
  gap: 40px; /* Space between buttons */
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gdt-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.feature-dropdown {
  margin-right: 20px;
}

.feature-dropdown select {
  padding: 5px 10px;
  font-size: 16px;
}

.feature-symbol {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.feature-text {
  font-size: 20px;
  font-weight: bold;
}

.feature-input {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.feature-input input {
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 5px;
}

.feature-input select {
  padding: 5px 10px;
  font-size: 16px;
}

.feature-text-input input {
  padding: 5px 10px;
  font-size: 16px;
}

.gdtbutton {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
.gdtbutton:hover {
  background: #0056b3;
}

.custom-upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-upload-button:hover {
  background-color: #45a049; 
}

.custom-upload-button:active {
  background-color: #3e8e41;
}

#uploadImage {
  display: none; /* Hide the default file input */
}

label.custom-upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #702020; /* Blue background */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition */
}

label.custom-upload-label:hover {
  background-color: #4b1e1e; /* Darker blue on hover */
}

label.custom-upload-label:active {
  background-color: #4b1e1e; /* Even darker blue on click */
}

.custom-dropdown select {
  width: 110%; /* Adjust width to fit the container */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  appearance: none; /* Removes default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23999'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.custom-dropdown-x select {
  width: 20%; /* Adjust width to fit the container */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  appearance: none; /* Removes default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23999'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.custom-dropdown {
  position: relative;
  max-width: 300px; /* Adjust as needed */
  margin: 10px 0;
}

.custom-dropdown select option {
  font-size: 16px;
  padding: 5px;
  background-color: white; /* Keep options background white */
}

.custom-dropdown select:hover {
  border-color: #666;
}

.custom-dropdown h4 {
  font-family: Arial, sans-serif;
  margin-bottom: 8px;
}

.gd-t-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.gd-t-container label {
  font-weight: bold;
  margin-right: 5px;
}

.gd-t-container select,
.gd-t-container input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
}

.gd-t-container input[type="text"] {
  text-align: center;
}

.gd-t-container .gdtbutton {
  background: #702020;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 15px;
}

.gd-t-container .gdtbutton:hover {
  background: #a03030;
}

.gd-t-container .custom-dropdown select {
  width: auto;
}

.info-icon {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  color: rgb(128, 123, 123) !important; /* Ensure light grey color */
  text-decoration: none; /* Remove any underline */
  font-style: normal; /* Ensure it's not inheriting link styles */
  user-select: none; /* Prevent selection */
}

.info-image {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 150px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999; 
}

.info-icon:hover .info-image {
  display: block;
}

@media screen and (max-width: 1624px) { /* Adjust for your preferred breakpoint */
  body {
      transform: scale(0.8); /* Scale down to 80% */
      transform-origin: top left;
      width: 125%; /* Counteract shrinking so content still fills the screen */
  }
}